
 <center>
 <img src="~/imagenes/img.png">
</center>

<div class="container d-flex justify-content-center"> <button class="btn btn-primary" data-toggle="modal" data-target="#my-modal">Registrese Aqui</button>                    
    <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center " role="document">
            <div class="modal-content border-0 mx-3">
                <div class="modal-body p-0">
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="card">
                                <div class="card-header bg-white border-0 pb-3">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="flex-col-auto"></div>
                                        <div class="col-auto text-right"><button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span class="cross" aria-hidden="true">&times;</span> </button></div>
                                    </div>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row justify-content-center pb-sm-5 pb-3">
                                        <div class="col-sm-8 col px-sm-0 px-4">
                                            <h4 class="card-title mt-sm-5 mt-3 mb-sm-5 mb-3 text-center"><b>BBBootstrap</b></h4>
                                            <div class="row">
                                                <div class="col"><input type="text" name="email" placeholder="Email"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><input type="password" name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><select class="form-control">
                                                        <option>India</option>
                                                        <option>China</option>
                                                        <option>UK</option>
                                                    </select></div>
                                            </div>
                                            <div class="row align-items-center mt-4 mb-5">
                                                <div class="col text-left">
                                                    <div class="custom-control custom-checkbox"><input id="my-input" class="custom-control-input" type="checkbox" name="" value="true"><label for="my-input" class="custom-control-label"><span>Remember me</span></label></div>
                                                </div>
                                                <div class="col-auto text-right"> <span class="pass"><u>Forgot password</u></span></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><button type="button" class="btn btn-primary btn-block"><b>SIGNUP</b></button></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3 mb-5 mx-0 px-0">
                                        <div class="line"></div> <small class="text-muted or text-center">OR</small>
                                        <div class="line"></div>
                                    </div>
                                    <div class="row justify-content-center mb-sm-5 mb-3">
                                        <div class=" flex-col-auto ">
                                            <div class="row justify-content-center">
                                                <div class="flex-col mx-1"> <a href="#" class="btn btn-inverse "> <span class="fa fa-facebook"></span> Facebook </a> </div>
                                                <div class="flex-col mx-1"> <a href="#" class="btn btn-inverse "> <span class="fa fa-linkedin"></span> Linkedin </a> </div>
                                                <div class="flex-col mx-1"> <a href="#" class="btn btn-inverse "> <span class="fa fa-google"></span> Google </a> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>