@model Project_COVID_19.Models.Survey

@{
    ViewData["Title"] = "EncuestaCovid";
}

<div class="text-center">
    <h1 class="display-4">Encuesta</h1>
    

<div class="card">
  <div class="card-header" align="left">
    Datos Personales
  </div>
  <div class="card-body">

 <form asp-action ="EncuestaCovid">

    <div asp-validation-summary="All" class="form-row">
        <div class="form-group col-md-6" align="left">
            <label asp-for="Nombres">Nombres</label>
            <input asp-for="Nombres" class="form-control">
        </div>
        <div class="form-group col-md-6" align="left">
            <label asp-for="Apellidos">Apellidos</label>
            <input  class="form-control" asp-for="Apellidos" placeholder="-----">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2 ">
            <label asp-for ="Tipo_Id">Tipo Id</label>
            <select asp-for="Tipo_Id" class="form-control">
                <option selected>...</option>                                
                <option>RC - Registro Civil</option>
                <option>TI - Tarjeta de identidad</option>
                <option>CC - Cédula de ciudadanía</option>
                <option>CE - Cédula de extranjería</option>
                <option>PA - Pasaporte</option>
                <option>MS - Menor sin identificación</option>
                <option>AS - Adulto sin identidad</option>

            </select>
        </div>
        <div class="form-group col-md-10">
            <label asp-for="NIdentificacion">Identificacion</label>
            <input asp-for="NIdentificacion" class="form-control" placeholder="---">
        </div>
    </div>
    </form>


  </div>
</div>

<hr>


<div class="card">
  <div class="card-header" align="left">
    Informacion Servicio Hospitalario
  </div>
  <div class="card-body">

 <form>

    <div class="form-row">
        <div class="form-group col-md-12" align="left">
            <label asp-for="EncargadoEncuesta" >¿Quién diligencia la encuesta?</label>
            <input asp-for="EncargadoEncuesta" class="form-control" > 
        </div>
        <div class="form-group col-md-6" align="left">
            <label for="formGroupExampleInput">Tipo de atención</label>
            <select class="form-control" asp-for="Tipo_atencion">
                <option selected>...</option>                                
                <option>Consulta espontánea</option>
                <option>Consulta agendada</option>
            </select>
        </div>
        <div class="form-group col-md-6" align="left">
            <label asp-for="ServicioEncargado">¿A qué servicio se dirige?</label>
            <select class="form-control" asp-for="ServicioEncargado">
                <option selected>...</option>                                
                <option>Hospitalizacion</option>
                <option>UCI</option>
                <option>Consulta Externa</option>
                <option>Urgencias</option>
                <option>Serviciosde apoyo Dx y Terapeutico</option>
            </select>
        </div>


    </div>
    </form>


  </div>
</div>

<hr>




<div class="card">
  <div class="card-header" align="left">
    Sintomas
  </div>
  <div class="card-body">

            <form method="post"> 


                <div class="form-group col-md-12" align="left">
                    <label asp-for="sintomas1">1. ¿Ha estado en contacto estrecho (a menos de 2 metros por mas de 15 minutos) con alguna
                        persona de su entorno con diagnóstico de COVID 19 en los últimos 14 días</label>
                    <select asp-for="sintomas1" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas2">2. ¿Ha estado en contacto estrecho (a menos de 2 metros por mas de 15 minutos) en los
                        últimos 14 días con alguna persona de su entorno con fiebre, tos, dificultad respiratoria, diarrea, dolor de
                        garg...?</label>
                    <select asp-for="sintomas2" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas3">3. Fiebre</label>
                    <select asp-for="sintomas3" id="inputState" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas4">4. Tos</label>
                    <select asp-for="sintomas4" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas5" >5. ¿Dificultad para respirar?</label>
                    <select asp-for="sintomas5" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas6">6. ¿Dolor muscular o fatiga?</label>
                    <select asp-for="sintomas6" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas7">7. ¿Dolor torácico o en el pecho?</label>
                    <select asp-for="sintomas7" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas8">8. ¿Dolor de garganta?</label>
                    <select asp-for="sintomas8" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas9">9. ¿Diarrea?</label>
                    <select asp-for="sintomas9" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas10">10. ¿Pérdida del olfato?</label>
                    <select asp-for="sintomas10" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas11">11. ¿Pérdida del gusto?</label>
                    <select asp-for="sintomas11"  class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas12">12. ¿Ha estado hospitalizado durante los últimos 14 días en una institución
                        hospitalaria?</label>
                    <select asp-for="sintomas12" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas13">13. ¿Ha sido diagnosticado positivo para COVID 19? Si la respuesta es afirmativa, por favor
                        registre Fecha de diagnóstico y fecha de la Prueba de control, en el campo Observaciones?</label>
                    <select asp-for="sintomas13" class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas14">14. ¿En caso de haber presentado la enfermedad, ¿Sigue usted en cuarentena?</label>
                    <select asp-for="sintomas14"  class="form-control col-md-1">
                        <option selected>...</option>
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
                                
                <div class="form-group col-md-12 " align="left">
                    <label asp-for="sintomas15">15. Observaciones</label>
                    <textarea asp-for="sintomas15"class="form-control"  rows="3"></textarea>

                    </select>
                </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>



            </form>


  </div>
</div>





</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}